In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Amazon - Movies and TV Ratings.csv')

In [3]:
!pip install surprise

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: surprise in ./.local/lib/python3.7/site-packages (0.1)
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.7/site-packages (from surprise) (1.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/site-packages (from scikit-surprise->surprise) (0.14.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/site-packages (from scikit-surprise->surprise) (1.18.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/site-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/site-packages (from scikit-surprise->surprise) (1.14.0)
WARNING: You are using pip version 20.0.2; however, version 20.2 is available.
You should consider upgrading via the '/usr/local/bin/python3.7 -m pip install --upgrade pip' command.

In [8]:
df.head()

,user_id,Movie1,Movie2,Movie3,Movie4,Movie5,Movie6,Movie7,Movie8,Movie9,...,Movie197,Movie198,Movie199,Movie200,Movie201,Movie202,Movie203,Movie204,Movie205,Movie206
0,A3R5OBKS7OM2IR,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AH3QC2PC1VTGP,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A3LKP6WPMP9UKX,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AVIY68KEPQ5ZD,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A1CV1WROP5KTTW,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.describe()

,Movie1,Movie2,Movie3,Movie4,Movie5,Movie6,Movie7,Movie8,Movie9,Movie10,...,Movie197,Movie198,Movie199,Movie200,Movie201,Movie202,Movie203,Movie204,Movie205,Movie206
count,1.0,1.0,1.0,2.0,29.000000,1.0,1.0,1.0,1.0,1.0,...,5.000000,2.0,1.0,8.000000,3.000000,6.000000,1.0,8.000000,35.000000,13.000000
mean,5.0,5.0,2.0,5.0,4.103448,4.0,5.0,5.0,5.0,5.0,...,3.800000,5.0,5.0,4.625000,4.333333,4.333333,3.0,4.375000,4.628571,4.923077
std,NaN,NaN,NaN,0.0,1.496301,NaN,NaN,NaN,NaN,NaN,...,1.643168,0.0,NaN,0.517549,1.154701,1.632993,NaN,1.407886,0.910259,0.277350
min,5.0,5.0,2.0,5.0,1.000000,4.0,5.0,5.0,5.0,5.0,...,1.000000,5.0,5.0,4.000000,3.000000,1.000000,3.0,1.000000,1.000000,4.000000
25%,5.0,5.0,2.0,5.0,4.000000,4.0,5.0,5.0,5.0,5.0,...,4.000000,5.0,5.0,4.000000,4.000000,5.000000,3.0,4.750000,5.000000,5.000000
50%,5.0,5.0,2.0,5.0,5.000000,4.0,5.0,5.0,5.0,5.0,...,4.000000,5.0,5.0,5.000000,5.000000,5.000000,3.0,5.000000,5.000000,5.000000
75%,5.0,5.0,2.0,5.0,5.000000,4.0,5.0,5.0,5.0,5.0,...,5.000000,5.0,5.0,5.000000,5.000000,5.000000,3.0,5.000000,5.000000,5.000000
max,5.0,5.0,2.0,5.0,5.000000,4.0,5.0,5.0,5.0,5.0,...,5.000000,5.0,5.0,5.000000,5.000000,5.000000,3.0,5.000000,5.000000,5.000000

In [11]:
df_main = df.copy()

df.describe().T

In [15]:
df.describe().T["count"].sort_values(ascending = False)[:10].to_frame()

           count
Movie127  2313.0
Movie140   578.0
Movie16    320.0
Movie103   272.0
Movie29    243.0
Movie91    128.0
Movie92    101.0
Movie89     83.0
Movie158    66.0
Movie108    54.0

In [17]:
df.drop('user_id',axis=1).sum().sort_values(ascending=False)[:10].to_frame()

               0
Movie127  9511.0
Movie140  2794.0
Movie16   1446.0
Movie103  1241.0
Movie29   1168.0
Movie91    586.0
Movie92    482.0
Movie89    380.0
Movie158   318.0
Movie108   252.0

In [27]:
df.drop('user_id',axis=1).sum().sort_values(ascending=False)/df.describe().T["count"].sort_values(ascending = False)

Movie1      5.000000
Movie10     5.000000
Movie100    4.000000
Movie101    5.000000
Movie102    4.000000
              ...
Movie95     3.333333
Movie96     5.000000
Movie97     4.800000
Movie98     5.000000
Movie99     4.000000
Length: 206, dtype: float64

In [32]:
avg = df.drop('user_id',axis=1).sum().sort_values(ascending=False)/df.describe().T["count"].sort_values(ascending = False)

In [40]:
avg.sort_values(ascending=False)[:5].to_frame()

            0
Movie191  5.0
Movie189  5.0
Movie167  5.0
Movie168  5.0
Movie169  5.0

In [44]:
df.drop('user_id',axis=1).sum().sort_values(ascending= True)[:5]

Movie67     1.0
Movie154    1.0
Movie58     1.0
Movie60     1.0
Movie45     1.0
dtype: float64

In [46]:
df.describe().T["count"].sort_values(ascending = True)[:5]

Movie1      1.0
Movie71     1.0
Movie145    1.0
Movie69     1.0
Movie68     1.0
Name: count, dtype: float64

In [4]:
!pip install scikit-surprise

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.7/site-packages (1.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/site-packages (from scikit-surprise) (0.14.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/site-packages (from scikit-surprise) (1.18.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/site-packages (from scikit-surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/site-packages (from scikit-surprise) (1.14.0)
WARNING: You are using pip version 20.0.2; however, version 20.2 is available.
You should consider upgrading via the '/usr/local/bin/python3.7 -m pip install --upgrade pip' command.

from surprise import Reader

In [6]:
from surprise import Reader
from surprise import accuracy
from surprise.model_selection import train_test_split

In [10]:
df.columns

Index(['user_id', 'Movie1', 'Movie2', 'Movie3', 'Movie4', 'Movie5', 'Movie6',
       'Movie7', 'Movie8', 'Movie9',
       ...
       'Movie197', 'Movie198', 'Movie199', 'Movie200', 'Movie201', 'Movie202',
       'Movie203', 'Movie204', 'Movie205', 'Movie206'],
      dtype='object', length=207)

In [12]:
melt_df = df.melt(id_vars = df.columns[0], value_vars=df.columns[1:], var_name="movie_name", value_name="rating")
melt_df

               user_id movie_name  rating
0       A3R5OBKS7OM2IR     Movie1     5.0
1        AH3QC2PC1VTGP     Movie1     NaN
2       A3LKP6WPMP9UKX     Movie1     NaN
3        AVIY68KEPQ5ZD     Movie1     NaN
4       A1CV1WROP5KTTW     Movie1     NaN
...                ...        ...     ...
998683  A1IMQ9WMFYKWH5   Movie206     5.0
998684  A1KLIKPUF5E88I   Movie206     5.0
998685   A5HG6WFZLO10D   Movie206     5.0
998686  A3UU690TWXCG1X   Movie206     5.0
998687   AI4J762YI6S06   Movie206     5.0

[998688 rows x 3 columns]

In [13]:
from surprise import Dataset

In [25]:
reader = Reader(rating_scale=(-1,10))
data = Dataset.load_from_df(melt_df.fillna(0), reader=reader)

In [26]:
trainset, testset = train_test_split(data,test_size=0.25)

In [27]:
from surprise import SVD

In [29]:
algo = SVD()

In [30]:
algo.fit(trainset)

In [31]:
predictions = algo.test(testset)

In [32]:
accuracy.rmse(predictions)

RMSE: 0.2824

0.2824494150824329

In [35]:
user_id = 'A3R5OBKS7OM2IR'
muvi_id = 'movie1'
r_ui = 5.0
algo.predict(user_id,muvi_id,r_ui-r_ui, verbose=True)

user: A3R5OBKS7OM2IR item: movie1     r_ui = 0.00   est = 0.05   {'was_impossible': False}

Prediction(uid='A3R5OBKS7OM2IR', iid='movie1', r_ui=0.0, est=0.052555913741574534, details={'was_impossible': False})

from surprise.model_selection import cross_validate

In [36]:
from surprise.model_selection import cross_validate

In [38]:
cross_validate(algo, data, measures=['RMSE','MAE'], cv=3, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.2803  0.2830  0.2816  0.2816  0.0011
MAE (testset)     0.0425  0.0429  0.0423  0.0426  0.0002
Fit time          35.78   36.19   36.23   36.07   0.20
Test time         3.18    3.51    3.52    3.40    0.16

{'test_rmse': array([0.28031207, 0.28300863, 0.28155437]),
 'test_mae': array([0.04254894, 0.04286814, 0.04227857]),
 'fit_time': (35.78441143035889, 36.19245767593384, 36.2305850982666),
 'test_time': (3.1768958568573, 3.5109288692474365, 3.5222249031066895)}

In [39]:
def repeat(algo_type, frame, min_, max_):
    reader = Reader(rating_scale=(min_,max_))
    data = Dataset.load_from_df(melt_df.fillna(0), reader=reader)
    algo = algo_type
    print(cross_validate(algo, data, measures=['RMSE','MAE'], cv=3, verbose=True))
    print("#"*10)
    user_id = 'A3R5OBKS7OM2IR'
    muvi_id = 'movie1'
    r_ui = 5.0
    print(algo.predict(user_id,muvi_id,r_ui-r_ui, verbose=True))
    print("#"*10)
    print()

In [40]:
df = df.iloc[:1212, :50]
melt_df = df.melt(id_vars = df.columns[0], value_vars=df.columns[1:], var_name="movie_name", value_name="rating")

In [42]:
repeat(SVD(), melt_df.fillna(0), -1, 10)
repeat(SVD(), melt_df.fillna(melt_df.mean()), -1, 10)
repeat(SVD(), melt_df.fillna(melt_df.median()), -1, 10)

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.4607  0.4532  0.4522  0.4553  0.0038
MAE (testset)     0.1041  0.1041  0.1035  0.1039  0.0003
Fit time          2.10    2.11    2.11    2.11    0.01
Test time         0.47    0.14    0.13    0.25    0.16
{'test_rmse': array([0.4606599 , 0.45320876, 0.45217488]), 'test_mae': array([0.10409236, 0.10408537, 0.10345269]), 'fit_time': (2.1012375354766846, 2.1104233264923096, 2.113583564758301), 'test_time': (0.4717257022857666, 0.13503456115722656, 0.13019752502441406)}
##########
user: A3R5OBKS7OM2IR item: movie1     r_ui = 0.00   est = 0.31   {'was_impossible': False}
user: A3R5OBKS7OM2IR item: movie1     r_ui = 0.00   est = 0.31   {'was_impossible': False}
##########

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.4562  0.4579  0.4457  0.4533  0.0054
MAE (testset)     0.1026  0.1048  0.1028  0.1034  0.0010
Fit time          2.11    2.11    2.11    2.11    0.00
Test time         0.13    0.13    0.47    0.25    0.16
{'test_rmse': array([0.45617795, 0.45793918, 0.44571768]), 'test_mae': array([0.10255413, 0.1048434 , 0.10275159]), 'fit_time': (2.1095283031463623, 2.10884690284729, 2.1066722869873047), 'test_time': (0.13074374198913574, 0.13326382637023926, 0.4733421802520752)}
##########
user: A3R5OBKS7OM2IR item: movie1     r_ui = 0.00   est = 0.04   {'was_impossible': False}
user: A3R5OBKS7OM2IR item: movie1     r_ui = 0.00   est = 0.04   {'was_impossible': False}
##########

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.4495  0.4614  0.4465  0.4524  0.0064
MAE (testset)     0.1059  0.1034  0.1017  0.1037  0.0017
Fit time          2.08    2.11    2.11    2.10    0.01
Test time         0.14    0.13    0.13    0.13    0.00
{'test_rmse': array([0.44950549, 0.4613559 , 0.44646889]), 'test_mae': array([0.10589061, 0.10340292, 0.10172625]), 'fit_time': (2.0841219425201416, 2.110996961593628, 2.1050052642822266), 'test_time': (0.13777875900268555, 0.13422298431396484, 0.13225197792053223)}
##########
user: A3R5OBKS7OM2IR item: movie1     r_ui = 0.00   est = -0.02   {'was_impossible': False}
user: A3R5OBKS7OM2IR item: movie1     r_ui = 0.00   est = -0.02   {'was_impossible': False}
##########

In [43]:
from surprise.model_selection import GridSearchCV

In [48]:
param_grid = {'n_epochs': [20,30],
             'lr_all': [0.005, 0.01],
             'n_factors': [50,100]}

In [49]:
gs = GridSearchCV(SVD, param_grid, measures=['rmse', 'mae'], cv=3)
gs.fit(data)

In [50]:
gs.best_score

{'rmse': 0.27729394728874185, 'mae': 0.04040749833093973}